<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Shopping Companion</title>
	<meta name="description" content="">
	<meta name="author" content="Samuel Munyili">

	<meta name="viewport" content="width=device-width; initial-scale=1.0">

	<link rel="shortcut icon" href="../static/images/fav.png">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/master.css" />
</head>

<body>
		<div class="wrapper container">
                <nav class="navbar navbar-default">
                    <div class="navbar-right">
                        <ul class="menu-item">
                            <li><a href="login">Login</a></li>
							<li><a href="sign-up">Sign Up</a></li>
							<li><a href="about">About</a></li>
                        </ul>
                    </div>
				</nav>
				<div class=" home-page">
		<div class="jumbotron">
			<h1>Welcome to Shopping Companion</h1>
			<p>Your best friend in organising your shopping</p>
		</div>
		<div class="buttons">
			<!-- This is the main window workstape and there will be a jumbotron, and two buttons, Signup and sign in -->
			<button class="btn btn-primary home-btn signup-btn" type="submit" name="signup-btn" id="submitBtn" title="Sign Up">
					Sign Up
				</button>
				<br>
			<button class="btn btn-primary login-btn" type="submit" name="login-btn" id="login-btn" title="Sign In">
					Sign In
				</button>
		</div>
	</div>
		<footer class="panel-footer">
				&copy; Copyright 2017 Samuel Munyili
		</footer>
	</div>
	<!-- Jquery and bootstrap are needed to create a responsive site -->
	<script type="text/javascript " src="../static/js/jquery.min.js"></script>
	<script type="text/javascript " src="../static/js/bootstrap.min.js" charset="utf-8 "></script>
</body>

</html>