@import url('https://fonts.googleapis.com/css?family=Muli');

* {
	font-family: 'Muli', sans-serif;
	}
body{
	/* background: rgb(0, 214, 214); */
	/* background: rgba(0, 31, 63, 0.2); */
	background-color: #454140;
}
.jumbotron{
	/* background-color: #0AFFB5; */
	backface-visibility: 0%;
	text-align: center;
	font-size: 2em;
	background: rgb(200, 54, 54); 
	background: rgba(112, 42, 42, 0.5); 
}

.jumbotron{
	color: #FFFF;
	text-shadow: 0.02em 0.02em aquamarine;
}
.jumbotron h1{
	font-size: 2.4em;
	/* color: white; */
}

.jumbotron p{
	font-size: 1.3em;
	text-shadow: none;
	color: white;
}

.home-page{
	background-image: url("../images/bgpic.jpg");
	background-size: 100% 100%;
	height: 100%;
	flex: 1 1 auto;
	padding: 2rem;
	background-repeat: no-repeat;
	margin-top: -2rem;
}

.menu-item{
	padding-right: 3rem;
	padding-top: 1rem;
}
.menu-item li{
	display: inline;
	padding-right: 2rem;
	
}
.panel-footer{
	background: inherit;
	text-align: center;
	border-bottom-color: inherit;
	color: white;
}
.buttons{
	text-align: center;
	font-weight: 400;
	font-size: 1.2em;
}

.btn-primary{
	background-color: rgb(17, 211, 98);
	align-self: auto;
}

div .row{
	float: auto;
	text-align: center;
	padding: 2rem;

}
.dashboard button{
	margin-top: 5rem;
	height: 10rem;
	width: 20rem;
}

.asterisk{
	color: red;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif
}

.login-btn, .signup-btn, .reset-btn, .btn-add-item{
	padding: 2rem;
	/* max-height: rem; */
	width: 15rem;
	/* background: #33DF08; */
	background: #3D9970;
	margin-top: 3rem;
}

.label-primary{
	margin: 3rem;
	background-color: inherit;
	color: #ffff;
	font-size: 1.2em;
	padding: 2rem;
	font-weight: lighter;
	margin-top: 2rem;
	padding-top: 5rem;
	/* margin-left: auto; */
}

.login{
	text-align: center;
}

.form-control{
	max-width: 40rem;
	/* float: auto; */
	height: 2.5em;
	display: block;
	margin : 0 auto;
}


  table, th, td {
    border: 1px solid rgb(141, 137, 137);
	border-collapse: collapse;
	color: aqua;
}
th, td {
    padding: 1rem;
}
th {
    text-align: center;
}
td{
	text-align: left;
}
.price-col, .qty-col{
	text-align: right;
}
.img-col{
	text-align: center;
}
.img-col img{
	max-width: 1.8rem;
	max-height: 1.8rem;
}
table {
	margin: auto;
	border-spacing: 5px;
	float: auto;
	min-width: 75%;
}

.items-table{
	text-align: center;
}
.shopping-list input{
	margin-bottom: 1rem;
	margin-bottom: 1.3rem;
}
.shopping-list-main{
	background-color: #003CFF;
}

.about-home{
	color: #FFFF;
	text-align: center;
	font-size: 1.3em;
}

.intro-about{
	color: #001f3f;
	margin-bottom: 3rem;
}
